* {
	margin: 0;
	padding: 0;
}

body {
	font: Arial, sans-serif;
}
.menu {
	width: 1170px;
	min-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	margin-top: 30px;
}
.pick-city {
	vertical-align: top;
	margin-top: 50px;
	padding-left: 121px;
}

.text-city {
	color: #383838;
	padding-left: 4px;
}

.choose {
	outline: 0;
	border: 0;
	color: grey;
}

.appointment {
	vertical-align: top;
	margin-top: 65px;
}
.appointment a{
	margin-left: 121px;
	background: #00c853;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	font-weight: bold;
}
.appointment a:link {
	color: #fff;
	text-decoration: none;
}
.number {
	margin-left: 131px;
	color: #383838;
	vertical-align: top;
	margin-top: 50px;
}

.logo, .pick-city, .appointment, .number {
	display: inline-block;
}

.number-p {
	color: #01c0dd;
	font-weight: bold;
	font-size: 30px;
}
.number-text {
	margin-left: 18px;
}


.bg-filter {
	margin-top: 41px;
	background-color: #4fc3f7;
	background-image: url(../img/bg-filter-docs.jpg);
	background-repeat: repeat;
	height: 384px;
}

.filter-text {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.filter-h2 {
	color: #fff;
	padding-top: 60px;
}

.filter-p {
	color: #fff;
	padding-top: 10px;
}


.name-spec {
	background: rgba(47, 117, 148, 0.7);
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 40px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.fio {
	margin-left: 30px;
}

.fio, .select-spec, .metro {
	background: #fff;
	height: 50px;
	width: 290px;
	padding-left: 18px;
	padding-right: 18px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	color: #848484;
}
.div-fio, .div-select, .div-metro {
	display: inline-block;
}

.div-find {
	height: 50px;
	width: 150px;
	background: #01c0dd;
	border-radius: 4px;
	border: none;
	text-align: center;
	display: inline-block;
	margin-left: 30px;
}

.div-find p {
	color: #fff;
	padding-top: 15px;
	font-weight: bold;
}

.choose-doc {
	margin-top: 20px;
	width: 1170px;
	min-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}


.choose-doc li {
	display: inline;
	font-weight: bold;
	padding-right: 69px;
	color: #262626;
}

.choose-doc li:hover {
	display: inline;
	padding-right: 69px;
	color: #01c0dd;
	font-weight: bold;
	cursor: pointer;
	border-bottom: solid 4px;
	padding-bottom: 20px;
}

.main-popular {
	margin-top: 23px;
	height: 1000px;
	background-color: #f1f1f1;
}

.popular-doc {
	padding-top: 50px;
	width: 1170px;
	min-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.docs-list1, .docs-list2 {
	width: 1170px;
	min-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}



/* ЗДЕСЬ Я РЕДАКТИРОВАЛ */

.doctor1, .doctor2, .doctor3, .doctor4, .doctor5, .doctor6, .doctor7, .doctor8 {
	display: inline-block;
	margin-top: 27px;
	width: 240px; /* уменьшилось за счет padding */
	height: 400px;
	background-color: #fff;
	border: 1px solid grey;
    padding-left: 15px; /* внутренний отступ слева */
    padding-right: 15px;/* внутренний отступ справо */
}

/* ./--ЗДЕСЬ Я РЕДАКТИРОВАЛ */


.doctor1, .doctor2, .doctor3, .doctor5, .doctor6, .doctor7 {
	margin-right: 20px;
}

.footer {
	height: 144px;
	background: #01c0dd;
}

.footer-logo {
	padding-bottom: 11px;
	padding-top: 25px;
}

.footer-content {
	width: 1170px;
	min-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.footer-left, .footer-right, .footer-menu1, .footer-menu2 {
	vertical-align: top;
	display: inline-block;
}

.footer-menu1 li {
	list-style-type: none;
	color: #fff;
	line-height: 1.9;
}

.footer-menu2 li {
	list-style-type: none;
	color: #fff;
	line-height: 1.9;
}

.footer-text {
	color: #FFF;
	width: 250px;
}

.footer-right {
	margin-top: 10px;
	margin-left: 45px;
}

.footer-menu2 {
	margin-left: 35px;
}




/* ЗДЕСЬ Я РЕДАКТИРОВАЛ */

/* добавляем общему контейнеру отступ сверху */
.rating {
    margin-top: 15px;
}

.rating-number, .rating-favor {
	display: inline-block;
}

/* позиционируем слева */
.rating-number {
    float: left;
}

/* позиционируем справа */
.rating-favor {
    float: right;
    padding-top: 10px; /* делаем внутренний отступ, чтобы сердце было на одном уровне с рйетингом */
}

/* задаем span блочную модель */
.rating-number span {
    display: block;
}

/* задаем цифрам параметры */
.number-rate {
    font-size: 30px;
    color: #01c0dd;
    font-weight: bold;
}

/* вторую цифру оборачиваем в small и задаем кегль */
.number-rate small {
    font-size: 20px;
}

/* теперь задаем параметры слову "рейтинг" */
.text-rate {
    font-size: 11px;
    color: #908f8f;
    text-align: center;
    margin-top: -5px;
}


/* ./--ЗДЕСЬ Я РЕДАКТИРОВАЛ */



.container-foto {

}

.clear {
    clear: both;
}

.foto-doc {
	
}

.foto {
	height: 100px;
	width: 100px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	        border: 2px solid;
	        margin-left: 30%;
}

.reception-home {
	margin-top: 30px;
	margin-left: 11%;

}

.reception-home a {
	background: #fff;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	font-weight: bold;
	border: 2px solid #01c0dd;
}
.reception-home a:link {
	color: black;
	text-decoration: none;
}

.reception-h3, .reception-p, .reception-p-money {
	margin-top: 10px;
	text-align: center;
}

.adress-doc {
	margin-top: 30px;
}

.reception-p-money {
		color: #01c0dd;
		font-weight: bold;
		font-size: 20px;
}